{% extends 'base.html' %}

{% block nav_title %}
    RESET PASSWORD
{% endblock nav_title %}

{% block content %}

<div class="containter-fluid">
    <div class="col-4 mx-auto mt-3">
        <form action="" method="POST">
        {% csrf_token %}
            <label for="email" class="text-sm">Enter your email to get reset password link</label>
            <input 
                id="email" 
                type="email" 
                name="email" 
                placeholder="Enter your email ...">
            <input 
                type="submit" 
                value="Reset My Password" 
                class="btn btn-success">
        </form>    
    </div>
</div>

{% endblock %}


